@media (min-width: 1025px) {
    .swiper-container {
        width: 590px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        right: -88px;
    }

    .swiper-button-prev {
        left: -88px;
    }
}

@media (min-width: 1125px) {
    .swiper-container {
        width: 890px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        right: -88px;
    }

    .swiper-button-prev {
        left: -88px;
    }


    .events-list {
        display: flex;
        flex-wrap: wrap;
    }

    .event:nth-child(5n+1){
        max-width: calc(50% - var(--gap));
    }

    .event:nth-child(5n+2) {
        max-width: calc(50% - var(--gap));
    }

    .event:nth-child(5n+3) {
        max-width: calc(33.333% - var(--gap));
    }

    .event:nth-child(5n+4) {
        max-width: calc(33.333% - var(--gap));
    }

    .event:nth-child(5n+5) {
        max-width: calc(33.333% - var(--gap));
    }

}