@media (min-width: 1200px) {

}
@media (min-width: 1500px) {
 
        .swiper-container {
            width: 1278px;
        }
    
        .swiper-button-prev,
        .swiper-button-next {
            right: -88px;
        }
    
        .swiper-button-prev {
            left: -88px;
        }
    }

