@media (min-width: 1025px) {
    .swiper-container {
        width: 590px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        right: -88px;
    }

    .swiper-button-prev {
        left: -88px;
    }
}

@media (min-width: 1125px) {
    .swiper-container {
        width: 890px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        right: -88px;
    }

    .swiper-button-prev {
        left: -88px;
    }
}