@media screen and (max-width: 1024px) {
    .header {
        padding: 35px 0;

        .container {
            gap: 0;
        }

        &-nav {
            gap: 24px;
            flex-direction: column;
            padding: 25px;
            background: $bg-footer;

            &__item {
                font-size: 16px;
            }
        }
    }

    .logo {
        max-width: 114px;
        margin: 2px 0 0 0;
    }

    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .btn-arrow {
        --size: 56px;
        --border-radius: 18px;
        --border-width: 3px;
        --icon-size: 27px;
        padding: 10px;
    }

    .mobile-container {
        display: none;
        position: absolute;
        left: 0;
        top: 88px;
        width: 100%;
    }

    .banner {
        .container {
            flex-direction: column-reverse;
            align-items: center;
            gap: 26px;
        }

        &-img {
            max-width: 271px;
        }
    }

    .template-title {
        margin-bottom: 36px;

        h1,
        h2 {
            font-size: 48px;
            margin-bottom: 36px;
        }

        &.template-title_row,
        &.template-title_row-reverse {
            max-width: 767px;
            gap: 56px;

            h1,
            h2,
            h6 {
                min-width: 330px;
                margin-bottom: 0;
            }
        }

        &.template-title_row-reverse {
            flex-direction: row-reverse;
        }
    }

    .label {
        --size: 82px;
        font-size: 18px;

        &.label_text-large {
            font-size: 24px;
        }

        &.label_text-sm {
            --size: 82px;
            font-size: 18px;
        }
    }

    .advantages {
        margin: 0 25px 100px;
        padding: 36px 48px;
    }

    .advantage {
        &-img {
            --size: 120px;
            img {
                --size: 140px;
            }
        }
        &-title {
            font-size: 28px;
        }

        &-description {
            line-height: 140%;
        }
    }

    .footer {

        padding: 21px 0 10px;

        .logo {
            max-width: 134px;
        }

        &-row {
            &:first-child {
                --gap: 36px;
                flex-wrap: wrap;
                align-items: center;
                gap: var(--gap);
                margin-bottom: var(--gap);

                .btn.btn-arrow {
                    margin-left: auto;
                }
            }
        }

        &-nav {
            order: 1;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 4px 0 0 0;
            gap: 0 12px;

            &__item {
                font-size: 15px;
            }

            &__column-title {
                font-size: 15px;
            }

            &__item:last-child {
                margin-bottom: 0;
            }
        }

        &-phone {
            font-size: 16px;
        }

        &-instagram {
            max-width: 32px;
        }
    }
}
