.events-list {
    --gap: 24px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc((var(--gap) / 2) * -1);
}

.event {
    width: 100%;
    background: center/cover no-repeat;
    border-radius: 30px;
    min-height: 260px;
    padding: 44px 24px 26px;
    margin: 0 calc(var(--gap) / 2) var(--gap);
    &__title {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 44px;
    }
}

.event:nth-child(5n+1){
    max-width: calc(50% - var(--gap));
}

.event:nth-child(5n+2) {
    max-width: calc(50% - var(--gap));
}

.event:nth-child(5n+3) {
    max-width: calc(33.333% - var(--gap));
}

.event:nth-child(5n+4) {
    max-width: calc(33.333% - var(--gap));
}

.event:nth-child(5n+5) {
    max-width: calc(33.333% - var(--gap));
}