*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: $font-primary;
    font-size: $font-size;
    scroll-behavior: smooth;
}

body {
    background-color: $bg-body;
    color: $color-text;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: $section-margin;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 500;
    line-height: 1.09;
    color: $color-title;
}

h1,
.h1 {
    font-size: 80px;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 48px;
}

h3,
.h3 {
    font-size: 32px;
    font-weight: 800;
}

h4,
.h4 {
    font-size: 26px;
}

h5,
.h5 {
    font-size: 24px;
}

h6,
.h6 {
    font-size: 20px;
}

.template-title {
    max-width: 570px;
    margin-bottom: 56px;

    h1,
    h2 {
        margin-bottom: 56px;
    }

    h2 {
        @extend .h1;
    }

    h6 {
        color: $color-text;
        font-weight: 400;
    }

    &.template-title_row,
    &.template-title_row-reverse {
        display: flex;
        max-width: 908px;
        gap: 72px;
        align-items: center;

        h1,
        h2,
        h6 {
            min-width: 440px;
            margin-bottom: 0;
        }
    }

    &.template-title_row-reverse {
        flex-direction: row-reverse;
    }
}

img,
svg {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: $color-text;

    &:hover {
        color: $secondary-color;
    }
}

.btn-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.btn {
    padding: 23px 53px;
    border-radius: 45px;
    display: inline-block;
    transition: 0.4s;
    font-size: 24px;
    position: relative;

    &:before {
        content: "";
        @include transform-centered;
        width: 0;
        height: 0;
        background: url(./assets/img/template-decoration-green.png) center/contain no-repeat;
        transition: .4s;
        z-index: -1;
    }

    &:hover {
        color: $color-title;

        &:before {
            width: 350px;
            height: 350px;
        }
    }

    &.btn-primary {
        background: $background-gradient;
        font-weight: 600;
        color: $color-title;
    }

    &.btn-secondary {
        background-color: $bg-body;
        padding: 20.5px 53px;

        &::before {
            background: url(./assets/img/template-decoration-white.png) center/contain no-repeat;
        }

        &::after {
            content: "";
            @include transform-centered;
            background-image: linear-gradient(173deg, #dadada 0%, rgba(218, 218, 218, 0) 100%);            ;
            width: calc(100% + 5px);
            height: calc(100% + 5px);
            z-index: -1;
            border-radius: 45px;
        }
    }

    &.btn-sm {
        padding: 17px 39px;
        font-size: 17px;
    }
}

.btn-arrow {
    --size: 87px;
    --icon-size: 35px;
    --border-radius: 29px;
    --border-width: 3px;
    width: calc(var(--size) - var(--border-width) * 2);
    height: calc(var(--size) - var(--border-width) * 2);
    border-radius: var(--border-radius);
    padding: 25px;
    background-color: $bg-footer;
    position: relative;
    @include flex-centered;

    &:after {
        content: "";
        position: absolute;
        width: calc(100% + var(--border-width));
        height: calc(100% + var(--border-width));
        left: 50%;
        top: 50%;
        background-image: $background-gradient;
        border-radius: var(--border-radius);
        z-index: -1;
        transform: translate(-50%, -50%);
    }

}

.icon-svg {
    height: var(--icon-size);
    width: var(--icon-size);
}

.logo {
    max-width: 195px;
}

.container {
    max-width: 1278px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.text-gradient {
    background-clip: text;
    color: transparent;
    background-image: $background-gradient;
}

.show {
    display: block !important;
}

.d-none {
    display: none !important;
}

.svg-sprite {
    visibility: hidden;
    height: 0;
    width: 0;
}

::selection {
    background-color: $primary-color;
    color: $bg-footer;
}
