.swiper-container {
    @extend .container;
    position: relative;
    width: 278px;
    margin: 0 auto;
}

.swiper-slide-active .product {
    border-color: $secondary-color;
}

.product {
    border: 1px solid #D9D9D9;
    border-radius: 28px;
    padding: 48px 30px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 277px;

    &__img-box {
        --size: 186px;
        width: var(--size);
        height: var(--size);
        background-image: $background-gradient;
        box-shadow: 0 5px 51px 0 rgb(0 0 0 / 39%);
        border-radius: 50%;
        margin-bottom: 48px;
        @include flex-centered;
    }

    &__img {
        max-height: 241px;
        max-width: 180px;
    }

    &__title,
    &__price {
        font-weight: 500;
        margin-bottom: 18px;
    }

    &__subtitle {
        font-weight: 400;
        margin-bottom: 16px;
        line-height: 1.63;
        margin-bottom: 12px;
    }

    &__price {
        @extend h3;
        margin-right: 22px;
    }

    &__volume {
        margin-top: 12px;
    }
}


.swiper-button-prev,
.swiper-button-next {
    @extend .btn-arrow;
    z-index: auto;
    position: absolute;
    right: -38px;

    svg {
        transform: rotate(90deg);
    }
}
 
.swiper-button-prev {
    left: -38px;

    svg {
        transform: rotate(-90deg);
    }
}