///fonts///
$font-primary: "Montserrat";
$font-size: 16px;

///colors///
$primary-color: #237249;
$secondary-color: #35c66b;
$bg-body: #121517;
$bg-body-secondary: #292B2D;
$bg-footer: #0b0c0d;
$color-text: #d9d9d9;
$color-title: #fff;
$color-secondary-title: #bbb3b3;
$section-margin: 100px;
$section-mobile-margin: 64px;
$background-gradient: linear-gradient(
	204deg,
	$primary-color 0%,
	$secondary-color 100%
);

@mixin burger {
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: var(--width);
	display: inline-block;
	background: $background-gradient;
	transition: 0.2s;
}

@mixin flex-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin transform-centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
