.footer:before                       { z-index: -1; }
.btn::before                         { z-index: -1; }
.btn.btn-secondary::after            { z-index: -1; }
.btn-arrow:after                     { z-index: -1; }
.template-content__img-box .label    { z-index: 1; }
.modal                               { z-index: 2; }
.header                              { z-index: 2; }