<section class="advantages">
    <div class="label label_text-sm" style="--content: 'we have'"></div>
    <div class="advantage">
        <div class="advantage-img">
            <img src="./assets/img/advantage-1.png" alt="advantage">
        </div>
        <h3 class="advantage-title">Tasty</h3>
        <h6 class="advantage-description">We have the most delicious coffee</h6>
    </div>
    <div class="advantage">
        <div class="advantage-img">
            <img src="./assets/img/advantage-2.png" alt="advantage">
        </div>
        <h3 class="advantage-title">Fast</h3>
        <h6 class="advantage-description">Our cafe will serve you quickly</h6>
    </div>
    <div class="advantage">
        <div class="advantage-img">
            <img src="./assets/img/advantage-3.png" alt="advantage">
        </div>
        <h3 class="advantage-title">Available</h3>
        <h6 class="advantage-description">Cafe will serveat the most pleasant prices</h6>
    </div>
</section>