<section class="events">
    <div class="container">
        <div class="template-title template-title_row-reverse">
            <h2>Our New <span class="text-gradient">Events</span></h2>
            <h6>Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of you, and in 2022 we are ready to destroy the market</h6>
        </div>
        <div class="swiper swiper-events">
            <div class="swiper-wrapper events-list">
                <div class="swiper-slide event" style="background-image: url(./assets/img/events-1.png);">
                    <div class="event__title">TWO COFFEE FOR 1 PRICE</div>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="swiper-slide event" style="background-image: url(./assets/img/events-2.png);">
                    <div class="event__title">KITCHEN TOUR</div>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="swiper-slide event" style="background-image: url(./assets/img/events-3.png);">
                    <div class="event__title">FREE COFFEE FOR 3 COFFEE</div>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="swiper-slide event" style="background-image: url(./assets/img/events-4.png);">
                    <div class="event__title">OUR INSTAGRAM</div>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="swiper-slide event" style="background-image: url(./assets/img/events-5.png);">
                    <div class="event__title">WHERE ARE YOU CHOOSE US?</div>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="swiper-events-button-prev"></div>
            <div class="swiper-events-button-next"></div>
        </div>
 
    </div>

</section>
