<section class="banner">
    <div class="container">
        <div class="banner-content">
            <div class="template-title">
                <h1>New Cafe <span>by <span class="text-gradient">StarBucks</span></span></h1>
                <h6>Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!</h6>
            </div>
            <div class="btn-row">
                <a href="#" class="btn btn-primary" data-modal="feedback">Select a coffee</a>
                <a href="#" class="btn btn-secondary" data-modal="qwerty">More</a>
            </div>
            
            <ul class="banner-advantages">
                <li class="banner-advantage">
                    <div class="banner-advantage__title">
                        9k<span class="text-gradient">+</span>
                    </div>
                    <div class="banner-advantage__description">
                        Premium Users
                    </div>
                </li>
                <li class="banner-advantage">
                    <div class="banner-advantage__title">
                        2k<span class="text-gradient">+</span>
                    </div>
                    <div class="banner-advantage__description">
                        Happy Customer
                    </div>
                </li>
                <li class="banner-advantage">
                    <div class="banner-advantage__title">
                        28<span class="text-gradient">+</span>
                    </div>
                    <div class="banner-advantage__description">
                        Awards Winning
                    </div>
                </li>
            </ul>
        </div>
        <div class="banner-img">

            <div class="label label_text-large" style="--content: '45%'"></div>
            <img src="./assets/img/banner-img.png" alt="coffe">
        </div>
    </div>
</section>
