<section class="banner">
    <div class="container">
        <div class="template-title">
            <h1>New Cafe <span>by <span class="text-gradient">StarBucks</span></span></h1>
            <h6>Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!</h6>
        </div>
        <div class="btn-row">
            <a href="#" class="btn btn-primary">Select a coffee</a>
            <a href="#" class="btn btn-secondary">More</a>
        </div>
    </div>
</section>
