<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <a href="index.html" class="logo">
                <img src="./assets/img/logo.svg" alt="logo">
            </a>
            <nav class="footer-nav">
                <div class="footer-nav__column">
                    <h5>Main</h5>
                    <ul class="footer-nav__list>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Buy</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">More</a></li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5>We make</h5>
                    <ul class="footer-nav__list>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Process</a></li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5>Products</h5>
                    <ul class="footer-nav__list>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Cappuccino</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Fast</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Fast</a></li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5>Events</h5>
                    <ul class="footer-nav__list>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Drinks</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Eat</a></li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5>Contacts</h5>
                    <ul class="footer-nav__list>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Instagram</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Number</a></li>
                    </ul>
                </div>

            </nav>
            <a href="#" class="btn btn-arrow">Top</a>
        </div>
        <div class="footer-row">
            <a href="tel:+380939999999" class="footer-phone">+38-(093)-999-99-99</a>
            <a href="#" class="footer-instagram">
                <img src="./assets/img/icon-instagram.svg" alt="instagram">
            </a>
        </div>
    </div>
</footer>
<script async src="assets/js/custom.js"></script>
</body>

</html>
