<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <a href="index.html" class="logo">
                <img src="./assets/img/logo.svg" alt="logo">
            </a>
            <nav class="footer-nav">
                <div class="footer-nav__column">
                    <h5 class="footer-nav__column-title">Main</h5>
                    <ul class="footer-nav-list">
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Buy</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">More</a></li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5 class="footer-nav__column-title">We make</h5>
                    <ul class="footer-nav-list">
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Process</a></li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5 class="footer-nav__column-title">Products</h5>
                    <ul class="footer-nav-list">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Cappuccino</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Fast</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Fast</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5 class="footer-nav__column-title">Events</h5>
                    <ul class="footer-nav-list">
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">Drinks</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="#" class="footer-nav__link">
                                Eat
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav__column">
                    <h5 class="footer-nav__column-title">Contacts</h5>
                    <ul class="footer-nav-list">
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Instagram</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Number</a></li>
                    </ul>
                </div>
            </nav>
            <a href="#" class="btn btn-arrow">
                <svg class="icon-svg">
                    <use href="#arrow-top"></use>
                </svg>
            </a>
        </div>
        <div class="footer-row">
            <a href="tel:+380939999999" class="footer-phone text-gradient">+38-(093)-999-99-99</a>
            <a href="#" class="footer-instagram">
                <img src="./assets/img/icon-instagram.svg" alt="instagram">
            </a>
        </div>
    </div>
</footer>
<svg class="svg-sprite">
    <symbol id="arrow-top" viewBox="0 0 12 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.25 36.1074C5.25 36.5216 5.58579 36.8574 6 36.8574C6.41421 36.8574 6.75 36.5216 6.75 36.1074L5.25 36.1074ZM6.53033 0.577091C6.23744 0.284199 5.76256 0.284199 5.46967 0.577091L0.6967 5.35006C0.403807 5.64296 0.403807 6.11783 0.6967 6.41072C0.989594 6.70361 1.46447 6.70361 1.75736 6.41072L6 2.16808L10.2426 6.41072C10.5355 6.70362 11.0104 6.70362 11.3033 6.41072C11.5962 6.11783 11.5962 5.64296 11.3033 5.35006L6.53033 0.577091ZM6.75 36.1074L6.75 1.10742L5.25 1.10742L5.25 36.1074L6.75 36.1074Z" fill="url(#paint0_linear_44_125)" />
        <defs>
            <linearGradient id="paint0_linear_44_125" x1="6.65407" y1="1.10742" x2="18.2758" y2="7.89991" gradientUnits="userSpaceOnUse">
                <stop stop-color="#237249" />
                <stop offset="1" stop-color="#35C66B" />
            </linearGradient>
        </defs>
    </symbol>
    <symbol id="arrow-right" width="37" height="12" viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 5.25C0.585786 5.25 0.25 5.58579 0.25 6C0.25 6.41421 0.585786 6.75 1 6.75V5.25ZM36.5303 6.53033C36.8232 6.23744 36.8232 5.76256 36.5303 5.46967L31.7574 0.696699C31.4645 0.403806 30.9896 0.403806 30.6967 0.696699C30.4038 0.989593 30.4038 1.46447 30.6967 1.75736L34.9393 6L30.6967 10.2426C30.4038 10.5355 30.4038 11.0104 30.6967 11.3033C30.9896 11.5962 31.4645 11.5962 31.7574 11.3033L36.5303 6.53033ZM1 6.75H36V5.25H1V6.75Z" fill="url(#paint0_linear_24_90)" />
        <defs>
            <linearGradient id="paint0_linear_24_90" x1="36" y1="6.65407" x2="29.2075" y2="18.2758" gradientUnits="userSpaceOnUse">
                <stop stop-color="#237249" />
                <stop offset="1" stop-color="#35C66B" />
            </linearGradient>
        </defs>
    </symbol>
    <symbol id="triangle" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.3596 11.071C17.6841 11.265 17.6841 11.7352 17.3596 11.9293L2.25661 20.9604C1.92333 21.1597 1.5 20.9196 1.5 20.5313L1.5 2.46899C1.5 2.08067 1.92333 1.84057 2.25661 2.03986L17.3596 11.071Z" stroke="white" stroke-width="3" stroke-miterlimit="1.55572" />
    </symbol>
</svg>
@@include('modals.html')
<script src="assets/js/modal.js"></script>
<script src="assets/js/custom.js"></script>
</body>

</html>
