<div class="modal">
    <div class="modal-body">
        <a href="#" class="btn btn-close">

         </a>
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ullam ab aspernatur fugit cum maiores tenetur maxime praesentium facere aperiam! Distinctio fugit saepe molestiae temporibus. Aut excepturi, libero velit illum corporis voluptates ut! Officiis optio aperiam accusamus aspernatur perspiciatis dolore, molestias illo laudantium, quo, iure quae autem. Nostrum deleniti molestias id velit doloribus nam excepturi repellat placeat asperiores nisi, accusantium beatae praesentium est voluptates magnam nulla adipisci quia. Ratione quo ab perferendis reprehenderit cum maiores, nesciunt recusandae obcaecati neque amet officia exercitationem eius, accusantium ipsa? At necessitatibus sed porro adipisci ab vitae molestiae, nulla perferendis eaque, voluptate consequatur doloremque eligendi.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <div class="btn-row">
            <button class="btn btn-secondary">Close</button>
            <button class="btn btn-primary">Ok</button>
        </div>
    </div>
</div>
