<div id="cooking" class="modal" data-close-modal>
    <div class="modal-body">
        <a href="#" class="btn btn-close" data-close-modal></a>
        <video src="./assets/img/test-video.mp4" controls></video>
        <div class="btn-row">
            <button class="btn btn-secondary" data-close-modal>Close</button>
            <button class="btn btn-primary" data-close-modal>Ok</button>
        </div>
    </div>
</div>
<div id="feedback" class="modal" data-close-modal>
    <div class="modal-body">
        <a href="#" class="btn btn-close" data-close-modal></a>
        <h2>feedback</h2>
        <p>modal for feedback</p>
        <div class="btn-row">
            <button class="btn btn-secondary" data-close-modal>Close</button>
            <button class="btn btn-primary" data-close-modal>Ok</button>
        </div>
    </div>
</div>

<div id="qwerty" class="modal" data-close-modal>
    <div class="modal-body">
        <a href="#" class="btn btn-close" data-close-modal></a>
        <h2>qwerty</h2>
        <p>test modal for qwerty</p>
        <div class="btn-row">
            <button class="btn btn-secondary" data-close-modal>Close</button>
            <button class="btn btn-primary" data-close-modal>Ok</button>
        </div>
    </div>
</div>

<div id="get-price" class="modal" data-close-modal>
    <div class="modal-body">
        <a href="#" class="btn btn-close" data-close-modal></a>
        <h2>get-price</h2>
        <p>get-price get-price get-price get-price get-price get-price get-price</p>
        <div class="btn-row">
            <button class="btn btn-secondary" data-close-modal>Close</button>
            <button class="btn btn-primary" data-close-modal>Ok</button>
        </div>
    </div>
</div>