<section class="products">
    <div class="container">
        <div class="template-title template-title_row ">
            <h1>New Our <span class="text-gradient">Products</span></h1>
            <h6>Have time to buy the most harmonious drinks in the new Starbucks coffee and don't forget about the discount!  Starbucks coffee and don't forget about the discount!</h6>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-product swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-1.png" alt="Fast" class="product__img">
                        </div>
                        <h3 class="product__title">Fast</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">7,45$</div>
                            <div class="product__volume">110 ml</div>

                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-2.png" alt="Latte" class="product__img">
                        </div>
                        <h3 class="product__title">Latte</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">8,25$</div>
                            <div class="product__volume">350 ml</div>

                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-3.png" alt="Flat white" class="product__img">
                        </div>
                        <h3 class="product__title">Flat white</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">9,50$</div>
                            <div class="product__volume">330 ml</div>

                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-4.png" alt="Flat white" class="product__img">
                        </div>
                        <h3 class="product__title">Cappuccino</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">8,25$</div>
                            <div class="product__volume">350 ml</div>
    
                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-1.png" alt="Fast" class="product__img">
                        </div>
                        <h3 class="product__title">Fast</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">7,45$</div>
                            <div class="product__volume">110 ml</div>

                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-2.png" alt="Latte" class="product__img">
                        </div>
                        <h3 class="product__title">Latte</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">8,25$</div>
                            <div class="product__volume">350 ml</div>

                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-3.png" alt="Flat white" class="product__img">
                        </div>
                        <h3 class="product__title">Flat white</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">9,50$</div>
                            <div class="product__volume">330 ml</div>

                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <div class="product__img-box">
                            <img src="./assets/img/product-4.png" alt="Flat white" class="product__img">
                        </div>
                        <h3 class="product__title">Cappuccino</h3>
                        <h6 class="product__subtitle">Our cafe will serve you quickly</h6>
                        <div class="d-flex">
                            <div class="product__price">8,25$</div>
                            <div class="product__volume">350 ml</div>
    
                        </div>
                        <button class="btn btn-primary btn-sm">Buy Product</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">
            <svg class="icon-svg">
                <use href="#arrow-top"></use>
            </svg>
        </div>
        <div class="swiper-button-next">
            <svg class="icon-svg">
                <use href="#arrow-top"></use>
            </svg>
        </div>
    </div>
</section>
