<section class="we-make">
    <div class="container">
        <div class="template-content">
            <div class="template-content__img-box">
                <div class="label" style="--content: 'We make'"></div>
                <img src="./assets/img/we-make.png" alt="we-make">
            </div>
                <div class="template-content__info-box">
                    <div class="template-title">
                        <h2>We make <span class="text-gradient">delicious</span></h2>
                        <h6>Only in 2021 we have made more than 100,000 orders for you, your loved ones, all of you, and in 2022 we are ready to destroy the market</h6>
                        <a href="#">Lorem, ipsum.</a>
                    </div>

                    <div class="we-make__video">
                        <img src="./assets/img/we-make___cooking.png" alt="cooking">
                        <a href="#" class="btn btn-primary" data-modal="cooking">
                            <svg class="icon-svg">
                                <use href="#triangle"></use>
                            </svg>
                            Cooking Process
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>
